<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>

    <head>
<body ng-app="StudentManagement" ng-controller="StudentController">
<h3>
    RestAPI: Spring Boot + Rest + AngularJS
</h3>
<form ng-submit="submitStudent()">
    <table border="0">
        <tr>
            <td>Emp Id</td>
            <td>{{studentForm.id}}</td>
        </tr>
        <tr>
            <td>First No</td>
            <td><input type="text" ng-model="studentForm.fName"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" ng-model="studentForm.lName"/></td>
        </tr>
        <tr>
            <td>Middle Name</td>
            <td><input type="text" ng-model="studentForm.mName"/></td>
        </tr>
        <tr>
            <td>sex</td>
            <td><input type="text" ng-model="studentForm.sex"/></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" ng-model="studentForm.email"/></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="text" ng-model="studentForm.birthday"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="blue-button"/>
            </td>
        </tr>
    </table>
</form>
<br/>
<a class="create-button" ng-click="createStudent()">Create Student</a>
<table border="1">
    <tr>
        <th>Student Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Middle Name</th>
        <th>sex</th>
        <th>emal</th>
        <th>Birth day</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <!-- $scope.students -->
    <tr ng-repeat="student in students">
        <td>{{ student.id }}</td>
        <td>{{ student.fName }}</td>
        <td>{{ student.lName }}</td>
        <td>{{ student.mName }}</td>
        <td>{{ student.sex }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.birthday }}</td>
        <td>
            <a ng-click="editStudent(student)" class="edit-button">Edit</a>
        </td>
        <td>
            <a ng-click="deleteStudent(student)" class="delete-button">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>